@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h4>Add a new machine</h4>

@Html.ValidationMessageFor(model => model.Name)

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineDescription)
  @Html.TextBoxFor(model => model.MachineDescription)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>