@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>@Model.Name Details</h2>

<hr />
<h3>
    Name: @Html.DisplayFor(model => model.Name)</h3>  
<h3>Description: @Html.DisplayFor(model => model.MachineDescription)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine has not been assigned to an engineer</p>
}
else
{
  <h4>This machine has the following engineers</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
    }
    {
    <p>@Join.Engineer.Name</p>
    <p>@Join.Engineer.Specialty</p>
      
      @using (Html.BeginForm("DeleteJoin", "Engineers", FormMethod.Post))
      {
    
        @Html.Hidden("joinId", @Join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Machine or Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.EngineerId })</p>